import React from 'react';

const {{pascalCase name}} = (props:{{pascalCase name}}Props): JSX.Element => {
	return (
		<div className={styles.root}>
		</div>
	);
};

type {{pascalCase name}}Props = {};

export default {{pascalCase name}};
